.places {
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width:768px) {
  .places {
    width: clamp(500px, 95%, 720px);
  }
}

@media (max-width:600px) {
  .places {
    width: clamp(320px, 95%, 580px);
  }
}

@media (max-width:600px) {
  .places {
    width: 100%;
  }
}
