.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  grid-area: title;
  align-self: start;
  margin: 0;
  max-width: 460px;
}

@media (max-width: 1024px) {
  .places__title {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
    align-self: end;
  }
}

@media (max-width: 600px) {
  .places__title {
    align-self: start;
    max-width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 320px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
