.places__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  margin-top: 12px;
}

@media (max-width:456px) {
  .places__link {
    align-self: start;
  }
}

.places__link:hover {
  opacity: .5;
}
