.places__website {
  display: flex;
  flex-direction: column;
  grid-area: website;
  align-self:flex-end;
}

@media (max-width:600px) {
  .places__website {
    align-self: start;
    padding: 12px 16px 0;
  }
}
