.places__website {
  display: flex;
  flex-direction: column;
  grid-area: website;
  align-self:flex-end;
  order: 2;
}

@media (max-width:600px) {
  .places__website {
    align-self: start;
    padding: 0 16px;
  }
}

@media (max-width:456px) {
  .places__website {
    padding: 0 16px;
  }
}
