.header__lang-btns {
  list-style: none;
  display: flex;
}

.header__lang-btn {
  margin-right: 18px;
  color: #fff;
}

.header__lang-btn_state_active {
  text-decoration: underline;
}

.header__lang-btn:last-of-type {
  margin: 0;
}
