.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: clamp(288px, 94%, 1184px);
}

@media (max-width:1024px) {
  .footer {
    width: clamp(288px, 94%, 928px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width:320px) {
  .footer {
    padding-top: 64px;
    max-width: 288px;
  }
}
